/* .form-row.formMain {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-top: 20px;
  }

  .maincontainer{

margin-top: 12rem;


  }

  textarea{

height: 22rem;

  }
  .formBtnDiv{

    margin-top: 2rem;
display: flex;
    justify-content: space-between;
  }
  .formBtnDiv button {


    background: #19469D;
  }

  .fileInput {


color: #19469D;

  }
  .ImageContainer img{


justify-content: left;
align-items: flex-start;
height: 300px;
width: 299px;

}
.fileInput input{


    background: #19469D;
}
label{
    padding: 10px;

    display: table;
    color: #fff;
    
    background: #19469D;
cursor: pointer;
}



input[type="file"] {
    display: none;
} */